In [2]:
def WorldPlace(k,A):
    G=0
    while(True):
        A.sort(reverse=True)
        Min = A[k-1]
        Allow = int((Min+9999)/10000)
        G =G+Allow
        if (Min <= 0):
            break
        for i in range(0,k):
            A[i]=A[i]-Allow
    return G

Input: k = 4 và 
       A = { 4,4,4,4,4 }
Output: 5

In [4]:
A= [ 4,4,4,4,4 ]
print (A)
k=4
print(k)
print(WorldPlace(k,A))

[4, 4, 4, 4, 4]
4
5

Input: k = 5 và A = { 1,2,3,4,5,6 } Output: 3

In [6]:
A= [1,2,3,4,5,6]
print (A)
k=5
print(k)
print(WorldPlace(k,A))

[1, 2, 3, 4, 5, 6]
5
3

input: k = 2 và A = { 1000000000, 1000000000, 1000000000, 1000000000, 1000000000, 1000000000 } 
Output: 3000000000

In [7]:
A=[ 1000000000, 1000000000, 1000000000, 1000000000, 1000000000, 1000000000 ]
print (A)
k=2
print(k)
print(WorldPlace(k,A))

[1000000000, 1000000000, 1000000000, 1000000000, 1000000000, 1000000000]
2
3000000000

Input: K =10
</br>
A= { 638074479, 717901019, 910893151, 924124222, 991874870, 919392444, 729973192, 607898881, 
  838529741, 907090878, 632877562, 678638852, 749258866, 949661738, 784641190, 815740520, 
  689809286, 711327114, 658017649, 636727234, 871088534, 964608547, 867960437, 964911023, 
  642411618, 868318236, 793328473, 849540177, 960039699, 998262224, 775720601, 634685437, 
  743766982, 826321850, 846671921, 712570181, 676890302, 814283264, 958273130, 899003369, 
  909973864, 921987721, 978601888, 633027021, 896400011, 725078407, 662183572, 629843174, 
  617774786, 695823011 }
  </br>
Returns: 3983180234

In [10]:
A=[ 638074479, 717901019, 910893151, 924124222, 991874870, 919392444, 729973192, 607898881, 
  838529741, 907090878, 632877562, 678638852, 749258866, 949661738, 784641190, 815740520, 
  689809286, 711327114, 658017649, 636727234, 871088534, 964608547, 867960437, 964911023, 
  642411618, 868318236, 793328473, 849540177, 960039699, 998262224, 775720601, 634685437, 
  743766982, 826321850, 846671921, 712570181, 676890302, 814283264, 958273130, 899003369, 
  909973864, 921987721, 978601888, 633027021, 896400011, 725078407, 662183572, 629843174, 
  617774786, 695823011 ]
print (A)
k=10
print(k)
print(WorldPlace(k,A))

[638074479, 717901019, 910893151, 924124222, 991874870, 919392444, 729973192, 607898881, 838529741, 907090878, 632877562, 678638852, 749258866, 949661738, 784641190, 815740520, 689809286, 711327114, 658017649, 636727234, 871088534, 964608547, 867960437, 964911023, 642411618, 868318236, 793328473, 849540177, 960039699, 998262224, 775720601, 634685437, 743766982, 826321850, 846671921, 712570181, 676890302, 814283264, 958273130, 899003369, 909973864, 921987721, 978601888, 633027021, 896400011, 725078407, 662183572, 629843174, 617774786, 695823011]
10
3983180234